{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">


<h2>Page View Report</h2>


<ul>
    <form action="https://chatppt-562d6c88f8b0.herokuapp.com/db" method="GET">
      <div>
        <label for="say">What greeting do you want to say?</label>
        <input name="say" id="say" value="Hi" />
      </div>
      <div>
        <button>Send my greetings</button>
      </div>
    </form>
    <p>Chat history
    {% for greeting in greetings %}
        <li>{{ greeting.0 }}</li>: <li>{{ greeting.1 }}</li>
    {% endfor %}

</ul>

</div>

{% endblock %}
